<div id="add_lang_box">
  <%= simple_form_for ([@subtitle, @translation]) do |f| %>
  <% f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 m-1'}, input_html: {class: 'h-100'}, placeholder: "https://www.youtube.com/watch?v=#{@subtitle.video_id}"  %>
  <%= select_tag "language",  options_for_select(["英語(en)", "ロシア語(ru)", "ウズベク語(uz)","ブルトン語(br)", "フランス語(fr)", "日本語(ja)" ], "en") %>
  <%= f.button :submit, "字幕を取得", class: 'btn btn-success' %>
  <% end %>
</div>

<script>
  // const add_lang_btn = document.getElementById('add_lang_btn');

  // add_lang_btn.addEventListener('click', () => {
  //   const language_choice = document.getElementById('language').value;

  //   }
  // )
</script>
