<div id="add_lang_box">
  <%= simple_form_for @subtitle do |f| %>
  <% f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 m-1'}, input_html: {class: 'h-100'}, placeholder: "https://www.youtube.com/watch?v=#{@subtitle.video_id}"  %>
  <%= select_tag "language",  options_for_select(@subtitle.language_list) %>
  <div id="sub_getter">
    <%= f.button :submit, "字幕を取得", class: 'btn btn-success'%>
    <% end %>
    <%= render 'shared/loading'%>
  </div>
</div>