<div class="converter_box">
  <div id="msword">
    <i id="msword" class="fas fa-file-word converter"></i>
    <p class="markup-baloon">選択中の文章を<br>ワードに変換</p>
  </div>
  <div id="msexcel">
    <i id="msexcel" class="fas fa-file-excel converter"></i>
    <p class="markup-baloon">選択中の文章を<br>エクセルに変換</p>
  </div>
  <br><br><br>
  <%= link_to "CSV", subtitle_path(format: :csv), class: "btn btn-primary" %>
</div>
