<%= render 'shared/navbar' %>
<div class="ml-5 mb-3" id="video_title">
  <h2><%= @subtitle.video_title %></h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'video' %>
    </div>
    <div class="col-md-6">
      <%= render 'subtitles' %>
    </div>
  </div>
</div>
