<div class="converter_box mt-2">
  <div id="csv">
  <%= link_to subtitle_translation_path(format: :csv) do %>
    <i class="fas fa-file-csv converter"></i>
    <p class="markup-baloon">字幕をCSVに変換</p>
  <% end %>
  </div>
  <div id="msword">
    <i id="msword" class="fas fa-file-word converter"></i>
    <p class="markup-baloon">選択中の文章を<br>ワードに変換</p>
  </div>
  <div id="msexcel">
    <i id="msexcel" class="fas fa-file-excel converter"></i>
    <p class="markup-baloon">選択中の文章を<br>エクセルに変換</p>
  </div>
</div>
