<div class="footer fixed-bottom" >
  <div class="footer-copyright">
    <p>&copy; <span id="year"></span> www.yod-lang.com. All Right Reserved.</p>
  </div>
</div>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>