<div class="navbar fixed-top" >
  <ul class="nav-items m-0">
    <li class="nav-item" >
      <%= link_to "Home", root_path , class: "nav-link"%>
    </li>
    <li class="nav-item" >
      <p>Forum</p>
    </li>
    <% if user_signed_in? %>
    <li>
        <button class="btn btn-secondary btn" id="dropdownMenuButton" ><%= current_user.user_name %>としてログイン中</button>
        <div id="dd-item" class="dd-hidden mt-2">
          <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
        </div>
    </li>

    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
<script>
  const dropdown = document.getElementById('dropdownMenuButton')
  const item = document.getElementById('dd-item')

  dropdown.addEventListener('click', () => {
    item.classList.toggle('dd-hidden');
  });
</script>
