<div class="container">
  <div class="box">
  <%= simple_form_for @subtitle do |f| %>
    <div class="row ml-5 mr-5 url_input" id="input_bar">
      <%= f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 m-1'}, input_html: {class: 'h-100'}, placeholder: 'https://www.youtube.com/watch?v=' %>
      <div id="sub_getter">
      <%= f.button :submit, "動画を取得", class: 'h-100 btn btn-primary' , id: 'sub_btn', disabled:'disabled' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
