<%= render 'shared/navbar' %>
<div class="main">
  <div class="mb-3">
    <h1 class="text-center">Yod-lang</h1>
    <h2 class="text-center">YouTube字幕を語学学習に活用</h2>
  </div>
  <%= render 'form_for_language_list' %>
  <%= render 'shared/loading' %>
  <div class="introduction mt-5 text-center">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12">
        <h3 class="ml-2">使い方</h3>
        <ul class="text-left">
          <li>①YouTube動画のリンクをアドレスバーに貼付け</li>
          <li>②字幕の言語を選択</li>
          <li>③字幕を取得ボタンを押す</li>
          <li>④CSVボタンを押してCVSファイルに変換</li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<script>
const input = document.getElementById('subtitle_video_id');
// input.addEventListener('change', enable);
function enable(){
  console.log("changed");
  sub_btn.classList.remove("disabled");
}
</script>