<%= render 'shared/navbar' %>
<div class="main">
  <div class="mb-3">
    <h1 class="text-center">Yod-lang</h1>
    <h2 class="text-center">YouTube字幕を語学学習に活用</h2>
  </div>
  <%= render 'form_for_language_list' %>
  <div class="text-center">
    <div class="lds-roller loading-show" id="loading"><strong>Loading...</strong></div>
  </div>
  <div class="introduction mt-5 text-center">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12">
        <h3 class="ml-2">使い方</h3>
        <ul class="text-left">
          <li>①YouTube動画のリンクをアドレスバーに貼付け</li>
          <li>②字幕の言語を選択（今の所英仏露＋αのみ）</li>
          <li>③字幕を取得ボタンを押す</li>
          <li>④CSVボタンを押してCVSファイルに変換</li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
<script>
  const sub_getter_element = document.getElementById('sub_getter');
  const loading_element = document.getElementById('loading');

  sub_getter_element.addEventListener('click', () => {
    loading_element.removeAttribute('id');
  })
  sub_getter_element.addEventListener('keydown', () => {
    if(event.key === 'Enter') {
      loading_element.removeAttribute('id');
      }})
</script>
