// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
    max-width: 30rem;
    margin: 1em;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: medium;
}

.post {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    p {
        margin: 0; 
        padding: 0;
    }
}
 
.post-title {
    font-size:medium;
    font-weight: bold;
}

.post-comment{
    font-size:medium;
}
.post-info {
    font-size: small;
    display: inline-block;
    color: gray;
}