// main part
#video_title{

}

// subtitle part
.results-cards {
  display: flex;
  flex-direction: row;
  justify-content:wrap;
  &:hover {
  background-color: #F6F6F4;
  }
}
// video part

.playerbox {
  position:fixed;
  top:13vw;
  width:40%;
  height:70vh;

}

#player {
  width:100%;
  height:70%;
}

.dictionary {
  width:100%;
  height:30%;
  background-color:#F8F8F8;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  p{
    font-size:32px;
  }
}

//converter part

.fas {
  font-size: 56px;
}

#msword {
  color:#23589B;
  position:fixed;
  top:13vw;
  // right:0.5vw;
}

#msexcel {
  color:#1B7346;
  position:fixed;
  top:18vw;
  // right:0.5vw;
}

// select_all part
#select_all{
  position:fixed;
  top:5vw;
  // right:0.5vw;

}

#select_none {
  position:fixed;
  top:9vw;
  // right:0.5vw;
}
